@use '/styles/abstracts/vars';

.btnui {
    width: 3rem;
    height: 3rem;
    border: 0;
    background-color: transparent;
    border: 1px solid vars.$color_white;
    img{
        fill: vars.$color_white;
    }

    &.close  {
        position: absolute;
        top: 1rem;
        right: 1rem;
        img{
            fill: vars.$color_black;
        }
    
    }
}