@use '/styles/abstracts/mixins';

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem;
    &.justify-content-center-tablet {
        @include mixins.breakpoint(tablet){
            justify-content: center;
        }
    }
    &.justify-content-center {
        justify-content: center;
    }
    &.flex-direction-row-reverse-tablet {
        flex-direction: row-reverse;
    }
}